edge-tts==6.1.12
gTTS
pyttsx3
requests
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
faster-whisper
Pillow
pydub
numpy
scipy
moviepy
flask
pyngrok
openai-whisper
groq
